html, body {
	background-color: #53b6d0;
	height: 100%;
	margin: 0;
}
a {
    text-decoration:none;
}
h1 {
	color: #333333;
	size: 32px;
}

h2{
    color: #333333;
	size: 24px;

}

p {
	color: #333333;
	size: 18px;
}


ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}

li {
	float: right;
}

li a {
	display: block;
	color: #fff;
	padding: 16px 16px;
	text-decoration: none;
	font: bold 15px Helvetica;
}

li a:hover {
	background-color: #53b6d0;
	color: white;
}

li a:active {
	background-color: #f45925;
	color: white;
}

#mainBlock {

    padding:60px;
    margin-top:70px;
    height:auto;
    text-align:center;
    font-size: 20;
    font-family:Helvetica,sans-serif;
    background-color: #f5f5f5;
    width:60%;
    margin: 0 auto;
    -webkit-box-shadow: 0px 0px 4px 1px #333333,
    inset 0px 0px 0px 1px #333333;
    -moz-box-shadow: 0px 0px 4px 1px #333333,
    inset 0px 0px 0px 1px #333333;
    box-shadow: 0px 0px 4px 1px #333333,
    inset 0px 0px 0px 1px #333333;

}

#contentBlock {

    padding:10px;
    margin-top:20px;
    height:auto;
    text-align:center;
    font-family:Helvetica,sans-serif;
    font-size:26px;
    background-color: #f5f5f5;
    width:90%;
    margin: 0 auto;

}

#customize-list{
	float:left;
	margin-left:20px;
	list-style:none;
}

#gr_updates_widget{
    float:left;
    background-color:#f5f5f5;
    width:100%;
    height:auto;

}

#gr_updates_widget p{
    padding:0px;
    margin:0;
    font-size:16px;
    font-family: Helvetica, sans-serif;
}

#gr_footer img{
width:100px;
float:left;
}


.img-circle {
    border-radius: 50%;
}
.img-rounded {
    border-radius: 12.5%;
}