html, body {
	background-color: #4f5f76;
	height: 100%;
	margin: 0;
}

/* -------------------------------
    TEXT TAGS
----------------------------------*/

a {
    text-decoration:none;
}

a:link {
color: #091f36;
}

a:visited {
color: #091f36;
}

h1 {
    font-family: 'DM Serif Display', serif;
	color: #091f36;
	font-size: 48px;
}

h2{
    font-family: 'DM Serif Display', serif;
    color: #091f36;
	font-size: 24px;
}

p {
    font-family: "Bookman Old Style";
	color: #091f36;
	font-size: 18px;
}

/* -------------------------------
    IMAGE TAGS
----------------------------------*/

.img-circle {
    border-radius: 50%;
}
.img-rounded {
    border-radius: 12.5%;
}


/* -------------------------------
    TOP BAR NAVIGATION STYLE
----------------------------------*/

.topnav {
  background-color: #091f36;
  overflow: hidden;
  margin: 0px;
  padding: 0px;
/* Get nav bar to scroll?

  position: fixed;
  width 100%;

*/
}


.topnav a {
	display: block;
	color: #fff;
	text-decoration: none;
	font-family: 'DM Serif Display', serif;
	font-weight: 600;

}

.topnav a.text {
	padding: 16px 16px;
}

.topnav a.img {
    padding: 5px 1px 1px 1px;
    vertical-align: middle;
}
.topnav a.left {
    float: left;
}
.topnav a.right {
    float: right;
}

.topnav a:hover {
	color: #4f5f76;
}

.topnav a.active {
	background-color: #DCC7AA;
	color: #4f5f76;
}




/* -------------------------------
    STYLE FOR MAIN BLOCK
----------------------------------*/

#mainBlock {

    padding:30px;
    margin-top:50px;
    height:auto;
    text-align: left;
    background-color: #f5f5f5;
    width:70%;
    margin: 0 auto;
    -webkit-box-shadow: 0px 4px 2px 3px #091f36,
    inset 0px 0px 0px 1px #091f36;
    -moz-box-shadow: 0px 4px 2px 3px #091f36,
    inset 0px 0px 0px 1px #091f36;
    box-shadow: 0px 4px 2px 3px #091f36,
    inset 0px 0px 0px 1px #091f36;

}

.frontPageBlock {
    padding:30px;
    margin-top:50px;
    height:auto;
    text-align: center;
    background-color: #f5f5f5;
    width:70%;
    margin: 0 auto;
    -webkit-box-shadow: 0px 4px 2px 3px #091f36,
    inset 0px 0px 0px 1px #091f36;
    -moz-box-shadow: 0px 4px 2px 3px #091f36,
    inset 0px 0px 0px 1px #091f36;
    box-shadow: 0px 4px 2px 3px #091f36,
    inset 0px 0px 0px 1px #091f36;



}

/* -------------------------------
    STYLE FOR PHOTO BLOCK
----------------------------------*/

.photoBlock {
    padding : 20px;
    margin: 25px auto;
    width 90%;
    height : auto;
    text-align: center;
    background-color: #DCC7AA;
    border-radius: 5%;
    -webkit-box-shadow: 0px 4px 2px 3px #091f36,
    inset 0px 0px 0px 1px #091f36;
    -moz-box-shadow: 0px 4px 2px 3px #091f36,
    inset 0px 0px 0px 1px #091f36;
    box-shadow: 0px 4px 2px 3px #091f36,
    inset 0px 0px 0px 1px #091f36;

}

.photoBlock h2 {
    margin: 5px;
}

.photoBlock img {
    border-radius : 5%;
}