<!DOCTYPE html>
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
<html lang = "en">
	<head>
	    <title>Joe's Personal Website!</title>
		<link rel="stylesheet" type = "text/css" href="../static/style.css">
        <link href="https://fonts.googleapis.com/css?family=DM+Serif+Display&display=swap" rel="stylesheet">
	</head>

   	<body>

   	    <div class="topnav">
            <a class="left text" href="{{url_for('index')}}">Home</a>
            <a class="active left text" href = "{{url_for('projects')}}">Projects</a>
            <a class="left text" href = "{{url_for('books')}}">Books</a>
            <a class="left text" href = "{{url_for('photos')}}">Photos</a>
            <a class = "right img" href = "https://github.com/jpucilos/">
                <img class = "img-rounded" src = '../static/github.png' alt = 'GitHub' width = '44' height = '44' ></a>
            <a class = "right img" href = "https://www.linkedin.com/in/joseph-puciloski/">
                <img class = "img-rounded" src = '../static/linkedin.png' alt = 'LinkedIn' width = '44' height = '44'></a>
            <a class = "right img" href = "https://www.goodreads.com/user/show/33110128-joseph-puciloski">
                <img class = "img-rounded" src = '../static/goodreads.jpg' alt = 'Goodreads' width = '44' height = '44' ></a>
        </div>

		<div id = "mainBlock">
		    <h1>AES encryption calculator</h1>
		    <hr>
		    <h2>This is a work in progress.</h2>
		</div>

   </body>
</html>