<!DOCTYPE html>
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
<html lang = "en">
	<head>
	    <title>Joe's Personal Website!</title>
		<link rel="stylesheet" type = "text/css" href="../static/style.css">
		<link href="https://fonts.googleapis.com/css?family=DM+Serif+Display&display=swap" rel="stylesheet">
	</head>

   	<body>
   	    <div class="topnav">
            <a class="left text" href="{{url_for('index')}}">Home</a>
            <a class="left text" href = "{{url_for('projects')}}">Projects</a>
            <a class="active left text" href = "{{url_for('books')}}">Books</a>
            <a class="left text" href = "{{url_for('photos')}}">Photos</a>
            <a class="left text" href = "{{url_for('WiiGA')}}">WiiGA Tour</a>
            <a class = "right img" href = "https://github.com/jpucilos/">
                <img class = "img-rounded" src = '../static/github.png' alt = 'GitHub' width = '44' height = '44' ></a>
            <a class = "right img" href = "https://www.linkedin.com/in/joseph-puciloski/">
                <img class = "img-rounded" src = '../static/linkedin.png' alt = 'LinkedIn' width = '44' height = '44'></a>
            <a class = "right img" href = "https://www.goodreads.com/user/show/33110128-joseph-puciloski">
                <img class = "img-rounded" src = '../static/goodreads.jpg' alt = 'Goodreads' width = '44' height = '44' ></a>
        </div>

		<div id = "mainBlock">
            <h1> Book Corner </h1>
    		<h2> Here are my most recently read books, taken from Goodreads.</h2>
    		<hr>

            <style type="text/css" media="screen">
            .gr_grid_container {
              /* customize grid container div here. eg: width: 500px; */
              width: auto;
              height: 700px;
            }

            .gr_grid_book_container {
              /* customize book cover container div here */
              float: left;
              width: 98px;
              height: 160px;
              padding: 3px 3px;
            }
            </style>
            <div id="gr_grid_widget_1510112984">
            <!-- Show static html as a placeholder in case js is not enabled - javascript include will override this if things work -->
                <div class="gr_grid_container">
                <div class="gr_grid_book_container"><a title="Stone of Tears (Sword of Truth, #2)" rel="nofollow" href="https://www.goodreads.com/book/show/234184.Stone_of_Tears"><img alt="Stone of Tears" border="0" src="https://images.gr-assets.com/books/1478930875m/234184.jpg" /></a></div>
                <div class="gr_grid_book_container"><a title="The Mysterious Stranger" rel="nofollow" href="https://www.goodreads.com/book/show/102564.The_Mysterious_Stranger"><img alt="The Mysterious Stranger" border="0" src="https://images.gr-assets.com/books/1365463862m/102564.jpg" /></a></div>
                <div class="gr_grid_book_container"><a title="The Alchemist" rel="nofollow" href="https://www.goodreads.com/book/show/865.The_Alchemist"><img alt="The Alchemist" border="0" src="https://images.gr-assets.com/books/1483412266m/865.jpg" /></a></div>
                <div class="gr_grid_book_container"><a title="The Hound of the Baskervilles" rel="nofollow" href="https://www.goodreads.com/book/show/8921.The_Hound_of_the_Baskervilles"><img alt="The Hound of the Baskervilles" border="0" src="https://images.gr-assets.com/books/1355929358m/8921.jpg" /></a></div>
                <div class="gr_grid_book_container"><a title="Dune (Dune Chronicles, #1)" rel="nofollow" href="https://www.goodreads.com/book/show/11273438-dune"><img alt="Dune" border="0" src="https://images.gr-assets.com/books/1304339765m/11273438.jpg" /></a></div>
                <div class="gr_grid_book_container"><a title="1984" rel="nofollow" href="https://www.goodreads.com/book/show/5470.1984"><img alt="1984" border="0" src="https://images.gr-assets.com/books/1348990566m/5470.jpg" /></a></div>
                <div class="gr_grid_book_container"><a title="The Return of the King (The Lord of the Rings, #3)" rel="nofollow" href="https://www.goodreads.com/book/show/18512.The_Return_of_the_King"><img alt="The Return of the King" border="0" src="https://images.gr-assets.com/books/1389977161m/18512.jpg" /></a></div>
                <div class="gr_grid_book_container"><a title="The Two Towers (The Lord of the Rings, #2)" rel="nofollow" href="https://www.goodreads.com/book/show/15241.The_Two_Towers"><img alt="The Two Towers" border="0" src="https://images.gr-assets.com/books/1298415523m/15241.jpg" /></a></div>
                <div class="gr_grid_book_container"><a title="The Fellowship of the Ring (The Lord of the Rings, #1)" rel="nofollow" href="https://www.goodreads.com/book/show/34.The_Fellowship_of_the_Ring"><img alt="The Fellowship of the Ring" border="0" src="https://images.gr-assets.com/books/1298411339m/34.jpg" /></a></div>
                <div class="gr_grid_book_container"><a title="End of Watch (Bill Hodges Trilogy, #3)" rel="nofollow" href="https://www.goodreads.com/book/show/25526965-end-of-watch"><img alt="End of Watch" border="0" src="https://images.gr-assets.com/books/1468705472m/25526965.jpg" /></a></div>
                <div class="gr_grid_book_container"><a title="Miecz przeznaczenia" rel="nofollow" href="https://www.goodreads.com/book/show/1128437.Miecz_przeznaczenia"><img alt="Miecz przeznaczenia" border="0" src="https://images.gr-assets.com/books/1208553771m/1128437.jpg" /></a></div>
                <div class="gr_grid_book_container"><a title="Rules for a Knight" rel="nofollow" href="https://www.goodreads.com/book/show/25241473-rules-for-a-knight"><img alt="Rules for a Knight" border="0" src="https://images.gr-assets.com/books/1436297563m/25241473.jpg" /></a></div>
                <div class="gr_grid_book_container"><a title="To Build a Fire" rel="nofollow" href="https://www.goodreads.com/book/show/194808.To_Build_a_Fire"><img alt="To Build a Fire" border="0" src="https://images.gr-assets.com/books/1172591496m/194808.jpg" /></a></div>
                <div class="gr_grid_book_container"><a title="Wizard's First Rule (Sword of Truth, #1)" rel="nofollow" href="https://www.goodreads.com/book/show/43889.Wizard_s_First_Rule"><img alt="Wizard's First Rule" border="0" src="https://images.gr-assets.com/books/1385248539m/43889.jpg" /></a></div>
                <div class="gr_grid_book_container"><a title="Catch-22 (Catch-22, #1)" rel="nofollow" href="https://www.goodreads.com/book/show/168668.Catch_22"><img alt="Catch-22" border="0" src="https://images.gr-assets.com/books/1463157317m/168668.jpg" /></a></div>
                <div class="gr_grid_book_container"><a title="The Wise Man's Fear (The Kingkiller Chronicle, #2)" rel="nofollow" href="https://www.goodreads.com/book/show/1215032.The_Wise_Man_s_Fear"><img alt="The Wise Man's Fear" border="0" src="https://images.gr-assets.com/books/1452624392m/1215032.jpg" /></a></div>
                <div class="gr_grid_book_container"><a title="The Name of the Wind (The Kingkiller Chronicle, #1)" rel="nofollow" href="https://www.goodreads.com/book/show/186074.The_Name_of_the_Wind"><img alt="The Name of the Wind" border="0" src="https://images.gr-assets.com/books/1472068073m/186074.jpg" /></a></div>
                <div class="gr_grid_book_container"><a title="Black Book" rel="nofollow" href="https://www.goodreads.com/book/show/27037918-black-book"><img alt="Black Book" border="0" src="https://images.gr-assets.com/books/1444394000m/27037918.jpg" /></a></div>
                <div class="gr_grid_book_container"><a title="Fight Club" rel="nofollow" href="https://www.goodreads.com/book/show/5759.Fight_Club"><img alt="Fight Club" border="0" src="https://images.gr-assets.com/books/1357128997m/5759.jpg" /></a></div>
                <div class="gr_grid_book_container"><a title="The Ultimate Hitchhiker's Guide to the Galaxy" rel="nofollow" href="https://www.goodreads.com/book/show/13.The_Ultimate_Hitchhiker_s_Guide_to_the_Galaxy"><img alt="The Ultimate Hitchhiker's Guide to the Galaxy" border="0" src="https://images.gr-assets.com/books/1404613595m/13.jpg" /></a></div>
                <noscript><br/>Share <a rel="nofollow" href="/">book reviews</a> and ratings with Joseph, and even join a <a rel="nofollow" href="/group">book club</a> on Goodreads.</noscript>
                </div>
            </div>
            <script src="https://www.goodreads.com/review/grid_widget/33110128.Joseph's%20bookshelf:%20read?cover_size=medium&hide_link=true&hide_title=true&num_books=20&order=d&shelf=read&sort=date_read&widget_id=1510112984" type="text/javascript" charset="utf-8"></script>
            <p> </p>
		</div>

   </body>
</html>

