<!DOCTYPE html>
<html lang = "en">
	<head>
		<link rel="stylesheet" type = "text/css" href="../static/style.css">
	</head>

   	<body>
		<ul>
			<li><a href = "{{url_for('index')}}">Home</a></li>
			<li><a href = "{{url_for('books')}}">Books</a></li>
			<li><a href = "{{url_for('photos')}}">Photos</a></li>
			<li><a href = "{{url_for('podcasts')}}">Podcasts</a></li>
		</ul>

		<div id = "mainBlock">

			<h2> My Latest Goodreads Updates</h2>
        	<div id="gr_updates_widget">
        	    <div id = "contentBlock">
        	        <iframe id="the_iframe" src="http://goodreads.com/widgets/user_update_widget?height=400&num_updates=10&user=33110128&width=600" width="66%" height="400" frameborder="0"></iframe>
                </div>
            </div>
            <div style="clear:both"></div>
            <h2> SigEp NJA Bookclub Recommendation Database</h2>
            <p> TO - DO: Write Parser for google sheets document, implement here in a table with JavaScript</p>
		</div>

   </body>
</html>

