<!DOCTYPE html>
<html lang = "en">
	<head>
		<link rel="stylesheet" type = "text/css" href="../static/style.css">

	</head>

   	<body>

		<ul>
			<li><a href = "{{url_for('index')}}">Home</a></li>
            <li><a href = "{{url_for('projects')}}">Projects</a></li>
			<li><a href = "{{url_for('books')}}">Books</a></li>
			<li><a href = "{{url_for('photos')}}">Photos</a></li>
		</ul>
		<div id = "mainBlock">
		    <h2>Image Correction for the Partially Color-Blind</h2>
		    <p> Original Image </p>
		    <img src="../static/test.jpg" alt = "test" width = auto height = auto>
		    <p> Image as seen by the colorblind (Protanopes) </p>
		    <img src="../static/sim.jpg" alt = "test" width = auto height = auto>
		    <p> Image after applying the Dalton method </p>
		    <img src="../static/daltonized.jpg" alt = "test" width = auto height = auto>
		    <p> Daltonized Image as seen by the Colorblind (Protanopes) </p>
		    <img src="../static/daltonized_sim.jpg" alt = "test" width = auto height = auto>
    		<h2>Try it out!</h1>
            <form method=post enctype=multipart/form-data>
                <p><input type=file name=file>
                <input type=submit value=Upload>
            </form>
		</div>

   </body>
</html>