<!DOCTYPE html>
<html lang = "en">
	<head>
		<link rel="stylesheet" type = "text/css" href="../static/style.css">

	</head>

   	<body>

		<ul>
			<li><a href = "{{url_for('index')}}">Home</a></li>
            <li><a href = "{{url_for('projects')}}">Projects</a></li>
			<li><a href = "{{url_for('books')}}">Books</a></li>
			<li><a href = "{{url_for('photos')}}">Photos</a></li>
		</ul>
		<div id = "mainBlock">
		    <h2>Image Correction for the Partially Color-Blind</h2>
		</div>

   </body>
</html>