<!DOCTYPE html>
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
<html lang = "en">
	<head>
	    <title>Joe's Personal Website!</title>
		<link rel="stylesheet" type = "text/css" href="../static/style.css">

	</head>

   	<body>
   	    <div class="topnav">
            <a class="left text" href="{{url_for('index')}}">Home</a>
            <a class="active left text" href = "{{url_for('projects')}}">Projects</a>
            <a class="left text" href = "{{url_for('books')}}">Books</a>
            <a class = "right img" href = "https://github.com/jpucilos/">
                <img class = "img-rounded" src = '../static/github.png' alt = 'GitHub' width = '44' height = '44' ></a>
            <a class = "right img" href = "https://www.linkedin.com/in/joseph-puciloski/">
                <img class = "img-rounded" src = '../static/linkedin.png' alt = 'LinkedIn' width = '44' height = '44'></a>
            <a class = "right img" href = "https://www.goodreads.com/user/show/33110128-joseph-puciloski">
                <img class = "img-rounded" src = '../static/goodreads.jpg' alt = 'Goodreads' width = '44' height = '44' ></a>
        </div>

		<div id = "mainBlock">
		    <h1>Image Correction for the Partially Color-Blind</h1>
		    <p> This project was originally made for CPE 462, a class I took on Image Processing. The script implements a form of color-correction on images called the "Dalton Method".
		     The purpose of this correction is to make certain images easier to see for the color-blind.</p>
		    <p><a href = "https://github.com/jpucilos/image_proc_project" >Click this to see the code for this project</a></p>
		    <hr>
		    <img src="../static/test.jpg" alt = "test" width = auto height = auto>
		    <p> Image as seen by the colorblind (Protanopes) </p>
		    <img src="../static/sim.jpg" alt = "test" width = auto height = auto>
		    <p> Image after applying the Dalton method </p>
		    <img src="../static/daltonized.jpg" alt = "test" width = auto height = auto>
		    <p> Daltonized Image as seen by the Colorblind (Protanopes) </p>
		    <img src="../static/daltonized_sim.jpg" alt = "test" width = auto height = auto>
    		<h2>Try it out!</h1>
            <form method=post enctype=multipart/form-data>
                <p><input type=file name=file>
                <input type=submit value=Upload>
            </form>
		</div>

   </body>
</html>