<!DOCTYPE html>
<html lang = "en">
	<head>
		<link rel="stylesheet" type = "text/css" href="../static/style.css">
	</head>

   	<body>
		<ul>
			<li>Home</a></li>
			<li>Contact</a></li>
			<li>Photos</a></li>
			<li>Podcasts</a></li>
		</ul>
		<div style="padding:20px;margin-top:30px;height:1500px;text-align:center;font-family:Helvetica,sans-serif;font-size:26px;">

			<img id = "faceImg" class = "img-circle" src = '../static/joe.jpg' width = '200' height = '200'>
			<p>Some text some text some text some text..</p>
			<p>Some text some text some text some text..</p>
			<p>Some text some text some text some text..</p>
			<p>Some text some text some text some text..</p>
			<p>Some text some text some text some text..</p>
			<p>Some text some text some text some text..</p>
			<p>Some text some text some text some text..</p>
			<p>Some text some text some text some text..</p>
			<p>Some text some text some text some text..</p>
			<p>Some text some text some text some text..</p>
			<p>Some text some text some text some text..</p>
			<p>Some text some text some text some text..</p>
			<p>Some text some text some text some text..</p>
			<p>Some text some text some text some text..</p>
			<p>Some text some text some text some text..</p>
			<p>Some text some text some text some text..</p>
			<p>Some text some text some text some text..</p>
			<p>Some text some text some text some text..</p>
			<p>Some text some text some text some text..</p>
			<p>Some text some text some text some text..</p>
		</div>

   </body>
</html>

