<!DOCTYPE html>
<html lang = "en">
	<head>
	<link rel="stylesheet" href="/static/style.css">
	<img src = '/static/joe.jpg' width = '200' height = '200'>
	</head>

   	<body>
		<ul>
			<li><a href= "{{ url_for('about') }}">About</a></li>
			<li><a href= "{{ url_for('photos') }}">Photos</a></li>
			<li><a href= "{{ url_for('contact') }}">Contact</a></li>
		</ul>

     		<hr/>
		      {%- for message in get_flashed_messages() %}
			 {{ message }}
		      {%- endfor %}
		
      		<p>
            {% for entry in entries %}
                <tr>
		<td><hr/></td>
		</tr>
		<tr>
                <td> On {{ entry.time }}, {{entry.name}} was thinking.....</td>
		</tr>
		<tr style="font-size:26px;">
		<td>{{ entry.thought }}</td>
		</tr>
            {% endfor %}
         </tbody>
      </table>
      

   </body>
</html>
