<!DOCTYPE html>
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
<html lang = "en">
	<head>
	    <title>Joe's Personal Website!</title>
		<link rel="stylesheet" type = "text/css" href="../static/style.css">
        <link href="https://fonts.googleapis.com/css?family=DM+Serif+Display&display=swap" rel="stylesheet">
	</head>

   	<body>

   	    <div class="topnav">
            <a class="left text" href="{{url_for('index')}}">Home</a>
            <a class="active left text" href = "{{url_for('projects')}}">Projects</a>
            <a class="left text" href = "{{url_for('books')}}">Books</a>
            <a class="left text" href = "{{url_for('photos')}}">Photos</a>
            <a class="left text" href = "{{url_for('WiiGA')}}">WiiGA Tour</a>
            <a class = "right img" href = "https://github.com/jpucilos/">
                <img class = "img-rounded" src = '../static/github.png' alt = 'GitHub' width = '44' height = '44' ></a>
            <a class = "right img" href = "https://www.linkedin.com/in/joseph-puciloski/">
                <img class = "img-rounded" src = '../static/linkedin.png' alt = 'LinkedIn' width = '44' height = '44'></a>
            <a class = "right img" href = "https://www.goodreads.com/user/show/33110128-joseph-puciloski">
                <img class = "img-rounded" src = '../static/goodreads.jpg' alt = 'Goodreads' width = '44' height = '44' ></a>
        </div>

		<div id = "mainBlock">
		    <h1>Movie Barcode Generator</h1>
		    <hr>
		    <p>This python script takes every frame from a movie file and condenses them all down to a single pixel’s worth of color. Laid out in a single resultant image, the results take on a abstract form that speaks of the tone and mood of the movie it depicts.</p>
		    <img src= "../static/The_Polar_Express_Barcode.jpg" width = 50% height = auto><p>For example, here's The Polar Express (2004) compressed into one barcode.</p>
		    <p>This script employs k-means clustering on each frame sampled to find the dominant color in each image, thus creating a simplier, more abstract appearing barcode than with other generators seen on the internet.</p>
            <a href = "https://github.com/jpucilos/movie_barcode_generator"><p>Click here to see the code for this project</p></a>
		</div>

   </body>
</html>