<!DOCTYPE html>
<html lang = "en">
	<head>
		<link rel="stylesheet" type = "text/css" href="../static/style.css">

	</head>

   	<body>

		<ul>
			<li><a href = "{{url_for('index')}}">Home</a></li>
			<li><a href = "{{url_for('books')}}">Books</a></li>
			<li><a href = "{{url_for('photos')}}">Photos</a></li>
			<li><a href = "{{url_for('podcasts')}}">Podcasts</a></li>
		</ul>
		<div id = "mainBlock">
		    <h2>This is where my photos are going to go once I actually do that.</h2>
		</div>

   </body>
</html>


<!--

     		<hr/>
		      {%- for message in get_flashed_messages() %}
			 {{ message }}
		      {%- endfor %}

      		<p>
            {% for entry in entries %}
                <tr>
		<td><hr/></td>
		</tr>
		<tr>
                <td> On {{ entry.time }}, {{entry.name}} was thinking.....</td>
		</tr>

		<tr style="font-size:26px;">
		<td>{{ entry.thought }}</td>
		</tr>
            {% endfor %}
         </tbody>
      </table>


				<script>
			function offHover()
			{
				$("faceImg").attr('src', '../static/joe.jpg');
			}

			function onHover()
			{
				$("faceImg").attr('src', '../static/ct.png');
			}
		</script>
//-->
