<!DOCTYPE html>
<html lang = "en">
	<head>
		<link rel="stylesheet" type = "text/css" href="../static/style.css">

	</head>

   	<body>

		<ul>
			<li><a href = "{{url_for('index')}}">Home</a></li>
			<li><a href = "{{url_for('projects')}}">Projects</a></li>
			<li><a href = "{{url_for('books')}}">Books</a></li>
			<li><a href = "{{url_for('photos')}}">Photos</a></li>
		</ul>

		<div id = "mainBlock">
		    <h1>Projects</h1>
		    <hr>
		    <h2><a href = "{{url_for('dalton method')}}">CPE 462 - Image Correction for the Partially Color-Blind</a></h2>
		    <h2><a href = "{{url_for('rayleigh fading')}}">CPE 441 - Rayleigh Signal Fading Simulation</a></h2>
		</div>

   </body>
</html>