<!DOCTYPE html>
<html lang = "en">
	<head>
	    <title>Joe's Personal Website!</title>
		<link rel="stylesheet" type = "text/css" href="../static/style.css">
	</head>

   	<body>

   	    <div class="topnav">
            <a class="left text" href="{{url_for('index')}}">Home</a>
            <a class="active left text" href = "{{url_for('projects')}}">Projects</a>
            <a class="left text" href = "{{url_for('books')}}">Books</a>
            <a class="left text" href = "{{url_for('photos')}}">Photos</a>
            <a class = "right img" href = "https://github.com/jpucilos/">
                <img class = "img-rounded" src = '../static/github.png' alt = 'GitHub' width = '44' height = '44' ></a>
            <a class = "right img" href = "https://www.linkedin.com/in/joseph-puciloski/">
                <img class = "img-rounded" src = '../static/linkedin.png' alt = 'LinkedIn' width = '44' height = '44'></a>
            <a class = "right img" href = "https://www.goodreads.com/user/show/33110128-joseph-puciloski">
                <img class = "img-rounded" src = '../static/goodreads.jpg' alt = 'Goodreads' width = '44' height = '44' ></a>
        </div>

		<div id = "mainBlock">
		    <h2>Rayleigh Fading Simulation</h2>

    		<img src="../static/rayleigh_fading.PNG" alt = "test" width = auto height = auto>
            <form method=post enctype=multipart/form-data>
                Frequency in MHz (F0): <br>
                <input type="number" name="f0" min="1" max="10000">
                <br> Number of paths (n): <br>
                <input type="number" name="n" min="1" max="1000">
                 <br>Vehicle Speed in mph (v): <br>
                <input type="number" name="v" min="1" max="1000">
                 <br> Samples per wavelength (fs): <br>
                <input type="number" name="fs" min="1" max="1000"> <br>
                <input type=submit value=Submit>
            </form>
		</div>

   </body>
</html>